<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PV Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }
        .summary-container {
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .summary-row {
            display: flex;
            justify-content: space-between;
        }
        .summary-item {
            width: 45%;
        }
        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            background-color: #fff;
            position: relative;
        }
        .underline {
            width: 100%;
            height: 5px;
            background: linear-gradient(90deg, #0a7caa, #5b58a5, #0056b3, #8f298f, #0a7caa);
            background-size: 500% 100%;
            animation: colorChange 3s infinite;
        }
        @keyframes colorChange {
            0% { background-position: 0% 0%; }
            25% { background-position: 25% 0%; }
            50% { background-position: 50% 0%; }
            75% { background-position: 75% 0%; }
            100% { background-position: 100% 0%; }
        }
        .logo {
            width: 150px;
            position: absolute;
            left: 20px;
        }
        .main-content {
            padding: 20px;
        }
        h1 {
            font-size: 5rem;
            text-align: center;
            margin-top: -2rem;
            margin-bottom: 0;
            animation: changeColor infinite 3s;
        }
        @keyframes changeColor {
            0% { color: #0a7caa; }
            25% { color: #5b58a5; }
            50% { color: #0056b3; }
            75% { color: #8f298f; }
            100% { color: #0a7caa; }
        }
        .dropdown-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            gap: 20px;
        }
        .dropdown {
            width: 200px;
            padding: 10px;
            background-color: #fff;
            border: 2px solid #007BFF;
            border-radius: 5px;
            font-size: 16px;
            transition: border-color 0.3s ease, box-shadow 0.3s ease;
        }
        .dropdown:focus {
            border-color: #005bb3;
            box-shadow: 0 0 8px rgba(0, 91, 187, 0.5);
            outline: none;
        }
        .search-bar {
            display: block;
            width: 300px;
            padding: 10px;
            margin: 20px auto;
            background-color: #fff;
            border: 2px solid #007BFF;
            border-radius: 5px;
            font-size: 16px;
            transition: border-color 0.3s ease, box-shadow 0.3s ease;
        }
        .search-bar:focus {
            border-color: #005bb3;
            box-shadow: 0 0 8px rgba(0, 91, 187, 0.5);
            outline: none;
        }
        button {
            display: block;
            width: 150px;
            padding: 10px;
            margin: 20px auto;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #0056b3;
        }
        #tabs {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            flex-wrap: wrap;
        }
        .tab {
            padding: 10px 20px;
            margin: 5px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .tab:hover {
            background-color: #0056b3;
        }
        #data {
            margin-top: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            overflow: hidden;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }
        th {
            background-color: #007BFF;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        td[contenteditable="true"] {
            background-color: #fffdd0;
            cursor: pointer;
        }
        td[contenteditable="true"]:hover {
            background-color: #fffacd;
        }

        @media (max-width: 1024px) {
            .header, .main-content, .dropdown-container {
                padding: 10px;
                flex-direction: column;
            }
            h1 {
                font-size: 3rem;
            }
            .dropdown-container {
                flex-direction: column;
            }
            .dropdown {
                width: 100%;
                margin-bottom: 10px;
            }
            .summary-container {
                flex-direction: column;
            }
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 2rem;
            }
            .logo {
                width: 100px;
            }
            .summary-item {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <div class="header">
        <img src="https://logowik.com/content/uploads/images/adani-renewables-green-energy1681.logowik.com.webp" alt="Company Logo" class="logo">
        <h1>PV Form</h1>
    </div>
    <div class="underline"></div>
    <div class="dropdown-container">
        <select class="dropdown" id="plantDropdown" onchange="selectPlant()">
            {% for plant in plants %}
            <option value="{{ plant }}">{{ plant }}</option>
            {% endfor %}
        </select>
        <select class="dropdown" id="blockDropdown" onchange="selectBlock()" style="display:none;">
            <!-- Options will be dynamically added here -->
        </select>
    </div>
    
    <div class="summary-container" id="summaryContainer" style="display: none;">
        <h3>Summary</h3>
        <div class="summary-row">
            <div class="summary-item" id="totalBlocks"></div>
            <div class="summary-item" id="totalString"></div>
        </div>
        <div class="summary-row">
            <div class="summary-item" id="totalDcMWp"></div>
            <div class="summary-item" id="InverterMake"></div>
        </div>
        <div class="summary-row">
            <div class="summary-item" id="totalInverters"></div>
            <div class="summary-item" id="invertersModels"></div>
        </div>
        <div class="summary-row">
            <div class="summary-item" id="ModuleMake"></div>
            <div class="summary-item" id="ModuleModels"></div>
        </div>
    </div>
    <div class="main-content">
        <div id="data"></div>
        <button onclick="addRow()">Add Row</button>
        <button onclick="saveData()">Save Data</button>
    </div>

    <script>
        let currentBlock = '';
        let currentPlant = '';

        function createBlockDropdown(blocks, summary) {
            const blockDropdown = document.getElementById('blockDropdown');
            blockDropdown.innerHTML = '';
            blocks.forEach(block => {
                const option = document.createElement('option');
                option.value = block;
                option.text = block;
                blockDropdown.appendChild(option);
            });
            blockDropdown.style.display = 'block';

            // Display summary
            const summaryContainer = document.get
